:root {
  --white-bg: #fff;
  --green: #27ae60;
  --yellow: #f4d03f;

  /* gray-color (level 10-100) */
  --gray-10: #f8f9fa;
  --gray-20: #e9ecef;
  --gray-30: #dee2e6;
  --gray-40: #ced4da;
  --gray-50: #adb5bd;
  --gray-60: #6c757d;
  --gray-70: #495057;
  --gray-80: #343a40;
  --gray-90: #212529;
  --gray-100: #121416;

  /* pink-colors (level 10-100) */
  --pink-10: #fdecec;
  --pink-20: #fccccc;
  --pink-30: #faabab;
  --pink-40: #f78b8b;
  --pink-50: #f56a6a;
  --pink-60: #f34949;
  --pink-70: #f12828;
  --pink-80: #e10010;
  --pink-90: #b8000d;
  --pink-100: #8f000a;

  /* hamburger-menu */
  --bar-width: 25px;
  --bar-height: 2px;
  --bar-gap: 5px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
  --animation-timing: 200ms ease-in-out;
}
